div#cart{
    min-height:  200px;
    border: 1px solid;
    margin-top: 10px;
    padding: 8px;
    position: absolute;
    top: 30px;
    width :100%;
    z-index: 100;
    background: #fff;
}

.cart-product{
    height: 80px;
    background: #e6e6e6;
    margin: 8px 0;
    padding: 8px;
}

#cart-wrap{
    position:relative;

}